@media (max-width:991px) {
    html{
        font-size: 55%;
       
    }
    body{
        padding: 0;
    }
    #menu-bars{
        display: initial ;
    }
    header{
        left: -120%;
        transition: all 1s;
    }
    header.active{
        left: 0%;

    }
    .cursor-1,
    .cursor-2{
        display: none;
    }
    section{
        padding: 1rem;
        min-height: 75vh;
    }

   
}

@media (max-width:450px) {
    html{
        font-size: 50%;
       
    }
    header{
       width: 100%;
    }
    .experience .box-container .box{
        padding-right:0; 
    }
}